@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
    --color-body: black;
    --color-heading: rgb(4, 4, 4);
    --color-base: white;
    --color-base2: #f6ebeb;
    --color-brand: burlywood;
    --color-brand2: #ffffff;
    --sidbar-width: 240px;
    --font-base: "Poppins";
}

body {
    background-color: white;
    font-family: Poppins, sans-serif;
}

h1,h2,h3,h4,h5,h6, p {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

.text-brand {
    color: var(--color-brand);
}

.bg-base {
    
    border-style: solid;
    cursor: pointer;
    border-color: burlywood;
    border-radius: 3px;
    border-width: 2px;
}

.full-height {
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid var(--color-brand)
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand);
    color: var(--color-base);
}

/* NAVBAR */
.navbar {

    background-color: burlywood;
    box-shadow: 1px 1px 2px 4px burlywood;
    
    



}

.navbar .nav-link {
    font-weight: 800;
    color: #000000;
    
   
}

.navbar .nav-link:hover {
    color: rgb(255, 255, 255);
}

.navbar .nav-link.active {
    color: rgb(255, 255, 255);
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        border: 8px solid var(--color-brand);
    }

    /* CONTENT WRAPPER */
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }
}

/* BTN */
.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: white;
    border-color: var(--color-brand);
    color: #000000;
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: burlywood;
    color: var(--color-base);
    border-color: var(--color-brand2);
    transform: scale(1.1);
    transition: all 0.7s;
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}

/* CARD */
.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}



/* SOCIAL ICONS */
.social-icons :hover{
    color:#353030;
    transform: scale(1.1);
    transition: all 0.4s;
    

}

.social-icons a {
    color: rgb(0, 0, 0);
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color:;
    border-radius: 5px;
    font-size: 40px;
}

.col-auto{
    justify-content: center;
    text-align: center;
    display: flex;
}

